# Core
python-dotenv==1.0.1

# PDF & OCR
pypdf==4.2.0
pdf2image==1.17.0
pytesseract==0.3.10
Pillow>=10.4.0

# Vector DB
chromadb==1.4.1

# Embeddings
sentence-transformers==2.7.0
torch

# LLM
groq==0.9.0

# UI
streamlit==1.37.0

# Utilities
numpy
tqdm==4.66.4
